@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    background: linear-gradient(45deg,rgba(240,240,255,.7),rgba(240,240,255,.7)),url('img/usaf.png');
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 3em;
    font-style: "Open Sans";
    color: #fff;
    font-variant: small-caps;
    font-weight: 800;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.contact .content p{
    font-weight: 500;
    color: black;
    font-size: 1.25em;
    font-variant: small-caps;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}
.container .contactInfo .box .text{
    display: flex;
    font-variant: small-caps;
    margin-left: 20px;
    font-size: 1.5em;
    color: #fff;
    flex-direction: column;
    font-weight: 600;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}
.container .contactInfo .box .text h3{
    font-weight: 800;
    color: green;
    font-size: 1.5;
}
.contactForm{
    width: 35%;
    padding: 30px;
    background: #fff;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
}
.contactForm h2{
    font-size: 3em;
    font-weight: 600;
    color: green;
    font-variant: small-caps;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input{
    width: 100%;
    padding: 5px 0;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    border-bottom: 3px solid black;
    outline: none;
    resize: none;
}
textarea{
    width: 100%;
    border-bottom: 3px solid black;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 15px;
    font-variant: small-caps;
    margin: 10px 0;
    pointer-events: none;
    transition: .5s;
    color: gray;
}
.contactForm .inputBox input:focus ~ span{
    color: #e91e63;
    font-size: 10px;
    font-variant: small-caps;
    transform: translateY(-20px);
}
.contactForm .inputBox input:valid ~ span{
    color: #e91e63;
    font-size: 10px;
    font-variant: small-caps;
    transform: translateY(-20px);
}
.contactForm .inputBox textarea:focus ~ span{
    color: #e91e63;
    font-size: 10px;
    font-variant: small-caps;
    transform: translateY(-30px);
}
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 15px;
    font-variant: small-caps;
    transform: translateY(-30px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100%;
    background: lightgrey;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.4em;
    font-weight: 800;
    -webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: black;
}
@media (max-width:990px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }
}
