*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    padding: 0;
    margin: 0;
}
.hero{
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,rgba(240,240,255,.7),rgba(240,240,255,.7)),url('american-flag.jpg');
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.brand{
    display: block;
    font-family: "Water Brush";
    font-size: 3em;
    color: navy;
    margin-left: 15px;
    margin-bottom: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s;
}
nav{
    position: absolute;
    display: flex;
    width: 100%;
    top: 0%;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-variant: small-caps;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li a:hover{
    color: aqua;
}
.detail{
    position: absolute;
    top: 0;
    width: 50%;
    margin-left: 10px;
    margin-top: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s;
}
.detail h1{
    font-size: 3em;
    color: #212121;
    margin-bottom: 20px;
    font-variant: small-caps;
    width: 100%;
    transition: 1s;
}
span{
    color: rgb(8, 164, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    font-weight: bold;
    font-variant: small-caps;
    margin-left: 80px;
    transition: 1s;
}
.detail p{
    color: #555;
    line-height: 25px;
    font-variant: small-caps;
    transition: 1s;
}
.detail a{
    background: #444;
    padding: 10px 20px;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: bold;
    color: #fff;
    margin: 30px 0;
    border-radius: 25px;
    transition: 1s;
}
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
    transition: 1s;
}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.images:hover .shape{
    bottom: 40px;
}
.images:hover .boy{
    left: 45%;
}
@media (max-width: 1000px){
    .images{
        width: 35%;
        height: 60%;
        bottom: 150px;
    }
    .detail{    
        width: 50%;
        margin-left: 10px;
        margin-top: 160px;
    }
}    
@media(max-width: 880px){
    .brand{
        font-size: 2em;
    }
    .detail{    
        width: 50%;
        margin-left: 10px;
        margin-top: 160px;
    }
    .images{
        width: 20%;
        height: 40%;
        bottom: 300px;
    }
    .detail h1{
        font-size: 2em;
    }
    span{
        font-size: 1.1em;
    }
    .detail p{
        font-size: 13px;
        font-weight: 700;
        line-height: 20px;
    }
    .detail a{
        padding: 10px 20px;
        margin: 30px 0;
    }
}
@media(max-width: 585px){
    .images{
        width: 20%;
        height: 40%;
        bottom: 10px;
        left: 40%;
    }
    .detail{    
        left: 25%;
    }
    .detail p{
        padding: 5px;
    }
    .detail a{
        margin: 10px 0;
        font-size: 12px;
    }
}

